<app-header></app-header>
<body>
    <button routerLink="/home">
        <span>Back home</span>
    </button>

  <header>
    <h1>Cuida lo que tenes</h1>
  </header>

  <section>
    <div>
      <h2>Por que elegirnos?</h2>
      <p>Somos tu mejor opción para la compra de autos, motos y aviones por las siguientes razones:</p>
      <ul class="list-container">
        <li>Precios competitivos y ofertas exclusivas.</li>
        <li>Variedad de modelos y marcas para satisfacer tus necesidades.</li>
        <li>Atención al cliente de alta calidad y personalizada.</li>
        <li>Financiamiento flexible y opciones de pago convenientes.</li>
      </ul>
    </div>

    <div>
      <h2>Cómo Cuidar tus Vehículos</h2>
      <p>Para garantizar un rendimiento óptimo y una larga vida útil, te recomendamos seguir estos consejos:</p>
      <ul class="list-container">
        <li>Realiza mantenimientos regulares según las especificaciones del fabricante.</li>
        <li>Lava y encera tu vehículo regularmente para proteger la pintura.</li>
        <li>Conduce de manera segura y evita situaciones de riesgo innecesario.</li>
        <li>Almacena correctamente tus vehículos cuando no estén en uso.</li>
      </ul>
    </div>
  </section>

 

</body>



