<app-header></app-header>
<body>
    <button routerLink="/home">
        <h1>Back home</h1>
       </button>

  <header>
    <h1>Los mejores precios y calidad </h1>
  </header>

  <section>
    <div class="promocion">
      <h2>¡Descuento Especial en Autos!</h2>
      <p>Aprovecha nuestras promociones exclusivas en la compra de autos nuevos. ¡Descuentos increíbles y financiamiento disponible!</p>
    </div>

    <div class="promocion">
      <h2>¡Oferta Única en Motos!</h2>
      <p>Descubre nuestras ofertas irresistibles en motocicletas. Modelos de última generación con precios especiales y regalos adicionales.</p>
    </div>
  </section>

  

</body>
