
<body>
<app-header></app-header>
<div id="boten">
  <button routerLink="/home">
    <h1>Back</h1>
  </button>
</div>

  <section>
    <article>
      <h2>Increíble Auto Eléctrico Revelado</h2>
      <img src="https://resizer.glanacion.com/resizer/v2/mas-barato-que-un-lamborghini-electrico-y-casi-SX5YGZTDIVHSZNVA2EOU4LUTPQ.jpg?auth=f3b6393f17464ad949710e59e1ac872b1c9ee126f7c52341ff8c531ca1f7f1a7&width=768&quality=70&smart=false" alt="auto" class="img-thumbnail">
      <p>Una nueva empresa de autos ha revelado un increíble modelo totalmente eléctrico con características innovadoras. Conoce más sobre esta emocionante revelación... <a href="https://www.lanacion.com.ar/autos/electricos/geely-panda-el-nuevo-mini-auto-electrico-mas-barato-del-mercado-que-trae-una-novedad-nid12122022/" target="_blank" rel="noopener noreferrer">presione aqui</a></p>
    </article>

    <article>
      <h2>Nuevo Jet de Última Generación</h2>
      <img src="https://okdiario.com/coolthelifestyle/img/2021/01/06/gulfstream-g700_-foto_-gulfstream.jpg" alt="jet" class="img-thumbnail">
      <p>La compañía aeroespacial líder en el mundo ha presentado su último jet, que promete ser más eficiente y sostenible. Descubre las características avanzadas de este impresionante avión...<a href="https://www.lanacion.com.ar/autos/electricos/geely-panda-el-nuevo-mini-auto-electrico-mas-barato-del-mercado-que-trae-una-novedad-nid12122022/" target="_blank" rel="noopener noreferrer">presione aqui</a></p>
    </article>

    <article>
      <h2>La Moto del Futuro: Tecnología de Punta</h2>
      <img src="https://imagenes.elpais.com/resizer/1cn9-Mg9r3Z-r70INDhtCkKvRHs=/1960x1470/cloudfront-eu-central-1.images.arcpublishing.com/prisa/N6XEJAUWSVKP4ORMY7ZQ5S3BMQ.jpg" alt="moto" class="img-thumbnail">
      <p>Una reconocida marca de motocicletas ha lanzado su última creación, una moto que incorpora tecnología de punta para ofrecer una experiencia de conducción única. Conoce más sobre esta moto futurista... <a href="https://www.lanacion.com.ar/autos/electricos/geely-panda-el-nuevo-mini-auto-electrico-mas-barato-del-mercado-que-trae-una-novedad-nid12122022/" target="_blank" rel="noopener noreferrer">presione aqui</a></p>
    </article>

    <article>
      <h2>Auto Autónomo </h2>
      <img src="https://media.a24.com/p/9c5b88d30fcd056c17a6e3d2fdbc62c6/adjuntos/296/imagenes/008/832/0008832407/1200x675/smart/mercedes-benz-logra-el-nivel-3-del-auto-autonomo-es-la-primer-marca-el-mundo-autorizada-usarlo-un-auto-serie.jpg" alt="auto" class="img-thumbnail">
      <p>Un nuevo modelo de auto autónomo ha superado las expectativas al completar un largo viaje de forma totalmente autónoma. Explora cómo esta tecnología está revolucionando la industria automotriz... <a href="https://www.lanacion.com.ar/autos/tendencias/presentaron-el-primer-auto-autonomo-argentino-como-funciona-nid02112022/" target="_blank" rel="noopener noreferrer">presione aqui</a></p>
    </article>
  </section>
</body>
